<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form class="form-group" action="/api/clothing" method="post" encType="multipart/form-data">
      <select name="userid">
        <% users.forEach( (user) => { %>
          <option value=<%=user['_id'] %>> <%= user.username %></option>
        <% }) %>
      </select>

      <label for="name">New Image</label>
      <input type="file" name="sampleFile" />

      <label for="tags">Tags</label>
      <input type="text" name="tags" value="">

      <input type="submit" name="" value="Create!">
    </form>

  </body>
</html>
